html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#008081, #e8ffed, #e8ffed, #e8ffed, #e8ffed);
  height: 700px;
}

.header1 {
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  padding: 2%;
  text-align: center;
  color: white;
  font-size: 120%;
  font-family: Courier New;
  font-weight: bold;
}

.button-box {
  //put parent inside here
}

.low-page {
  margin-top: 20px;
  flex: 1;
  border: solid red 4px;
  padding: 1%;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  border: solid green;
  justify-content: center; 
  padding-left: 50px;
  padding-right: 50px;
}

.box {
  height: 340px;
  width: 356px;
}

.red {
  background-color: crimson;
  color:white;
}

.blue{
  background-color: navy;
  color:gold;
  border-radius: 60%;
}

}
