html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.page {
  background-image: linear-gradient(#008081, #008081, #e8ffed, #e8ffed, #e8ffed);
  height: 700px;
}

.header1 {
  padding: 1%;
  text-align: center;
  color: white;
  font-size: 120%;
  font-family: Courier New;
  font-weight: bold;
  Xborder: solid;
}

.exp {
  margin-left: auto;
  margin-right: auto;
  Xborder: solid white;
}

.button-box {
  margin-top: 10px;
  display: flex;
  Xborder: solid 1px;
}

.button-class {
  margin-left: 3px;
  margin-right: 3px;
}

.megaBox {
  position: absolute;
  left: 30%;
  top: 30%;
  height: 50%;
  width: 50%;
  Xborder: solid;
  animation: rotate 20s linear infinite;
}

.circle {
  position: relative;
  top: 50%;
  left: 0%;
  height: 7px;
  width: 7px;
  background-color: lightgreen;
  animation: circle 20s linear infinite;
  border-radius: 50%;
  xborder: 1px;
}

.AmegaBox19 {
animation: rotate 19s linear infinite;
}

.AmegaBox18 {
animation: rotate 18s linear infinite;
}

.megaBox.AmegaBox17 {
animation: rotate 17s linear infinite;
}

.megaBox.AmegaBox16 {
animation: rotate 16s linear infinite;
}

.megaBox.AmegaBox15 {
animation: rotate 15s linear infinite;
}

.megaBox.AmegaBox14 {
animation: rotate 14s linear infinite;
}

.megaBox.AmegaBox13 {
animation: rotate 13s linear infinite;
}

.megaBox.AmegaBox12 {
animation: rotate 12s linear infinite;
}

.megaBox.AmegaBox11 {
animation: rotate 11s linear infinite;
}

.megaBox.AmegaBox10 {
animation: rotate 10s linear infinite;
}


.Acircle19 {
  animation: circle 19s linear infinite;
}

.Acircle18 {
  animation: circle 18s linear infinite;
}

.Acircle17 {
  animation: circle 17s linear infinite;
}

.Acircle16 {
  animation: circle 16s linear infinite;
}

.Acircle15 {
  animation: circle 15s linear infinite;
}

.Acircle14 {
  animation: circle 14s linear infinite;
}

.Acircle13 {
  animation: circle 13s linear infinite;
}

.Acircle12 {
  animation: circle 12s linear infinite;
}

.Acircle11 {
  animation: circle 11s linear infinite;
}

.Acircle10 {
  animation: circle 10s linear infinite;
} 

@keyframes circle {
  0% {
    left: 0%;
    top: 50%;
  }
  
  25% {
  top: 100%;
}
  
 50% {
    left: 100%;
    top: 50%;
  }
  
75% {
  top: 0%
}
  
  100% {
    top: 50%;
    left: 0%;
  }
}

@keyframes rotate {
  0% {
    transform:rotate(360deg);
  }
  
  100% {
    transform:rotate(0deg);
  }
}
